.day[class*="day-off"] {
    position: relative;
}


.day-off > .day__classes, 
.day-off-1 > .day__classes, 
.day-off-2 > .day__classes, 
.day-off-3 > .day__classes, 
.day-off-4 > .day__classes, 
.day-off-5 > .day__classes {
    margin: 10px;
    min-height: 328.85px;
    

    background-color: rgb(201, 207, 204);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

[class*="day-off"] .day__classes {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
[class*="day-off"] p {
    color: white;
    font-size: 36px;
    font-weight: 900;
}

.day-off > .day__classes, 
.day-off-1 > .day__classes {
    background-image: url(/img/sleep_poses_1.jpg);
}
.day-off-2 > .day__classes {
    background-image: url(/img/sleep_poses_2.jpg);
}
.day-off-3 > .day__classes {
    background-image: url(/img/sleep_poses_3.jpg);
}
.day-off-4 > .day__classes {
    background-image: url(/img/sleep_poses_4.jpg);
}
.day-off-5 > .day__classes {
    background-image: url(/img/sleep_poses_5.jpg);
}

.class.break,
.class.lecture,
.class.practice,
.class.laboratory {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(125, 125, 125);
    border-radius: 5px;
}

.class.break {
    background-image: url(/img/break.jpg);
}
.class.lecture {
    background-image: url(/img/lecture.jpg);
}
.class.practice {
    background-image: url(/img/practice.jpg);
}
.class.laboratory {
    background-image: url(/img/laboratory.jpg);
}