.day-off, 
.day-off-1, 
.day-off-2, 
.day-off-3, 
.day-off-4, 
.day-off-5 {
    margin: 10px;
    height: 328.85px;

    background-color: rgb(201, 207, 204);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.day-off, .day-off-1 {
    background-image: url(/img/sleep_poses_1.jpg);
}
.day__classes.day-off-2 {
    background-image: url(/img/sleep_poses_2.jpg);
}
.day__classes.day-off-3 {
    background-image: url(/img/sleep_poses_3.jpg);
}
.day__classes.day-off-4 {
    background-image: url(/img/sleep_poses_4.jpg);
}
.day__classes.day-off-5 {
    background-image: url(/img/sleep_poses_5.jpg);
}

.class.break,
.class.lecture,
.class.practice,
.class.laboratory {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(125, 125, 125);
    border-radius: 5px;
}

.class.break {
    background-image: url(/img/break.jpg);
}
.class.lecture {
    background-image: url(/img/lecture.jpg);
}
.class.practice {
    background-image: url(/img/practice.jpg);
}
.class.laboratory {
    background-image: url(/img/laboratory.jpg);
}