.day__classes.day-off-1 {
    margin: 10px;
    height: 328.85px;

    background-image: url(/img/sleep_poses_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.day__classes.day-off-2 {
    margin: 10px;
    height: 328.85px;

    background-image: url(/img/sleep_poses_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.day__classes.day-off-3 {
    margin: 10px;
    height: 328.85px;

    background-image: url(/img/sleep_poses_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.day__classes.day-off-4 {
    margin: 10px;
    height: 328.85px;

    background-image: url(/img/sleep_poses_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.day__classes.day-off-5 {
    margin: 10px;
    height: 328.85px;

    background-image: url(/img/sleep_poses_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.class.lecture {
    background-image: url(/img/lecture.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(147, 158, 153);
    border-radius: 5px;
}

.class.practice {
    background-image: url(/img/practice.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(147, 158, 153);
    border-radius: 5px;
}

.class.laboratory {
    background-image: url(/img/laboratory.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(147, 158, 153);
    border-radius: 5px;
}

.class.break {
    background-image: url(/img/break.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(147, 158, 153);
    border-radius: 5px;
}