.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 15px 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    border-radius: 16px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.125);
    background-color: white;
}

.today {
    display: flex;
    align-items: center;

    font-size: 18px;
}

.today__info {
    margin: 0 10px;

    font-size: 12px;
}

.group {
    font-size: 36px;
}