.class.active .progressbar,
.class.active .progressbar {
    display: block;
}

.progressbar {
    display: none;
    height: 3px;

    background: rgb(184, 22, 22);
    border-radius: 5px;
}

.progressbar > span {
    display: none;
    display: block;
    height: 100%;
    width: 10%;
    
    background-color: rgb(40, 209, 85);
    border-radius: 5px;

    overflow: hidden;
  }