* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0 20px;
    background: #F5F6EC;
}



.week.active.even 
.day.active 
.day__title {
    border-bottom: 5px solid rgb(169, 73, 207);
}

.week.active.odd 
.day.active 
.day__title {
    border-bottom: 5px solid rgb(53, 148, 226);
}