* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: #F5F6EC;
}

.day.active .day__title {
    border-bottom: 5px solid rgb(53, 148, 226);
}