extends layouts/main.pug

block variables
  - var title = 'Рассписание 5362м'

  //- schedule the start and end lessons
  - 
    var timeRanges = [
    { start: '9:00', end: '10:20' },
    { start: '10:30', end: '11:50' },
    { start: '12:20', end: '13:40' },
    { start: '13:50', end: '15:10' },
    { start: '15:20', end: '16:40' },
    { start: '16:50', end: '18:10' },
    ]

  //- Paths to lesson type images
  - var pathForLecture = '/assets/img/lecture.svg'
  - var pathForPractice = '/assets/img/practice.svg'
  - var pathForLaboratory = '/assets/img/laboratory.svg'
  - var pathForBreak = '/assets/img/break.svg'
  - var pathForDayOff = '/assets/img/day-off.svg'

  //- Shedule
  - 
    var mondayOver = [{
      title: '', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Основови автомат. проектування', 
      teacher: 'Волянська Я.Б.', 
      classroom: '134 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Овсянников В.М.', 
      classroom: '306 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Теоретичні основи проектування', 
      teacher: 'Войтасик А.Н.', 
      classroom: 'НК', 
      type: 'лабораторная', 
      pathImageByType: pathForLaboratory
    }, {
      title: 'Теоретичні основи проектування', 
      teacher: 'Бабкін Г.В.', 
      classroom: '309Б НК', 
      type: 'лабораторная', 
      pathImageByType: pathForLaboratory
    }]

  - 
    var tuesdayOver = [{
      title: '', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Іноземна мова', 
      teacher: 'Белоусова С.М.', 
      classroom: '420 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Цивільна оборона', 
      teacher: '', 
      classroom: '505 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }]

  - 
    var wednesdayOver = [{
      title: 'Основи наук. досліджень', 
      teacher: 'Волянська Я.Б.', 
      classroom: '230 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Інтелект. керув. засоб. морських робототехнічних комплексів', 
      teacher: 'Блінцов В.С.', 
      classroom: '230 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }]
  - var thursdayOver = []
  - var fridayOver = []

  - 
    var mondayUnder = [{
      title: 'Інтелект. керув. засоб. морських робототехнічних комплексів', 
      teacher: 'Войтасик А.Н.', 
      classroom: '309 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Основови автомат. проектування', 
      teacher: 'Волянська Я.Б.', 
      classroom: '134 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Овсянников В.М.', 
      classroom: '306 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Бабкін Г.В.', 
      classroom: '309Б НК', 
      type: 'практическая', 
      pathImageByType: pathForPractice
    }] 

  - 
    var tuesdayUnder = [{
      title: '', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Іноземна мова', 
      teacher: 'Белоусова С.М.', 
      classroom: '420 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Цивільна оборона', 
      teacher: '', 
      classroom: '505 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }]

  - 
    var wednesdayUnder = [{
      title: 'Основи автомат. проектування', 
      teacher: 'Грудініна', 
      classroom: '306 НК', 
      type: 'лабораторная', 
      pathImageByType: pathForLaboratory
    }, {
      title: 'Основи наук. досліджень', 
      teacher: 'Волянська Я.Б.', 
      classroom: '321 НК', 
      type: 'практическая', 
      pathImageByType: pathForPractice
    }]
  - var thursdayUnder = []
  - var fridayUnder = []

block content
  .swiper
    .swiper-pagination
    .week.swiper-wrapper
      .wrapper.swiper-slide
        .day
          +card('Понедельник', mondayOver, timeRanges, 'over')
          +card('Понедельник', mondayUnder, timeRanges, 'under')
      .wrapper.swiper-slide
        .day
          +card('Вторник', tuesdayOver, timeRanges, 'over')
          +card('Вторник', tuesdayUnder, timeRanges, 'under')
      .wrapper.swiper-slide
        .day
          +card('Среда', wednesdayOver, timeRanges, 'over')
          +card('Среда', wednesdayUnder, timeRanges, 'under')
      .wrapper.swiper-slide
        .day
          +cardOff('Четверг', 'over')
          +cardOff('Четверг', 'under')
      .wrapper.swiper-slide
        .day
          +cardOff('Пятница', 'over')
          +cardOff('Пятница', 'under')
