extends layouts/main.pug

block variables
  - var title = 'Рассписание'

  //- schedule the start and end lessons
  - 
    var timeRanges = [
    { start: 0, end: 539 },
    { start: 540, end: 619 },
    { start: 620, end: 629 },
    { start: 630, end: 709 },
    { start: 710, end: 739 },
    { start: 740, end: 819 },
    { start: 820, end: 829 },
    { start: 830, end: 909 },
    { start: 910, end: 919 },
    { start: 920, end: 999 },
    { start: 1000, end: 1009 },
    { start: 1010, end: 1089 },
    { start: 1090, end: 1439 }
    ]

  //- Paths to lesson type images
  - var pathForLecture = './assets/img/lecture.svg'
  - var pathForPractice = './assets/img/practice.svg'
  - var pathForLaboratory = './assets/img/laboratory.svg'
  - var pathForBreak = './assets/img/break.svg'
  - var pathForDayOff = './assets/img/day-off.svg'

  //- Shedule
  - 
    var mondayOver = [{
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Основови автомат. проектування', 
      teacher: 'Волянська Я.Б.', 
      classroom: '134 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Овсянников В.М.', 
      classroom: '306 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Теоретичні основи проектування', 
      teacher: 'Войтасик А.Н.', 
      classroom: 'НК', 
      type: 'лаборатория', 
      pathImageByType: pathForLaboratory
    }, {
      title: 'Теоретичні основи проектування', 
      teacher: 'Бабкін Г.В.', 
      classroom: '309Б НК', 
      type: 'лаборатория', 
      pathImageByType: pathForLaboratory
    }]

  - 
    var tuesdayOver = [{
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Іноземна мова', 
      teacher: 'Белоусова С.М.', 
      classroom: '420 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Цивільна оборона', 
      teacher: '', 
      classroom: '505 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }]

  - 
    var wednesdayOver = [{
      title: 'Основи наук. досліджень', 
      teacher: 'Локарев В.І.', 
      classroom: '230 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Інтелект. керув. засоб. морських робототехнічних комплексів', 
      teacher: 'Блінцов В.С.', 
      classroom: '230 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Цивільна оборона', 
      teacher: '', 
      classroom: '505 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }]
  - var thursdayOver = []
  - var fridayOver = []

  - 
    var mondayUnder = [{
      title: 'Інтелект. керув. засоб. морських робототехнічних комплексів', 
      teacher: 'Войтасик А.Н.', 
      classroom: '309 НК', 
      type: 'лекция', 
      pathImageByType: './assets/img/lecture'
    }, {
      title: 'Основови автомат. проектування', 
      teacher: 'Волянська Я.Б.', 
      classroom: '134 НК', 
      type: 'лекция', 
      pathImageByType: './assets/img/lecture'
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Овсянников В.М.', 
      classroom: '306 НК', 
      type: 'лекция', 
      pathImageByType: './assets/img/lecture'
    }, {
      title: 'Дисципліна спец. підготовки', 
      teacher: 'Бабкін Г.В.', 
      classroom: '309Б НК', 
      type: 'лаборатория', 
      pathImageByType: './assets/img/laboratory'
    }] 

  - 
    var tuesdayUnder = [{
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }, {
      title: 'Іноземна мова', 
      teacher: 'Белоусова С.М.', 
      classroom: '420 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Цивільна оборона', 
      teacher: '', 
      classroom: '505 ГК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }, {
      title: 'Перерыв', 
      teacher: '', 
      classroom: '', 
      type: 'перерыв', 
      pathImageByType: pathForBreak
    }]

  - 
    var wednesdayUnder = [{
      title: 'Основи автомат. проектування', 
      teacher: 'Грудініна', 
      classroom: '306 НК', 
      type: 'лаборатория', 
      pathImageByType: pathForLaboratory
    }, {
      title: 'Основи наук. досліджень', 
      teacher: 'Волянська Я.Б.', 
      classroom: '321 НК', 
      type: 'лекция', 
      pathImageByType: pathForLecture
    }]
  - var thursdayUnder = []
  - var fridayUnder = []

block content
  .week.over
    +day('Понедельник', mondayOver, timeRanges)
    +day('Вторник', tuesdayOver, timeRanges)
    +day('Среда', wednesdayOver, timeRanges)
    +dayOff('Четверг')
    +dayOff('Пятница')
  .week.under
    +day('Понедельник', mondayUnder, timeRanges)
    +day('Вторник', tuesdayUnder, timeRanges)
    +day('Среда', wednesdayUnder, timeRanges)
    +dayOff('Четверг')
    +dayOff('Пятница')
