@import 'utils/reset';
@import 'utils/fonts';
@import 'utils/variables';
@import 'utils/mixins';
@import 'modules/swiper';
@import 'modules/header';
@import 'modules/card';

@media (min-width: 641px) {
  .card {
    width: calc(50vw - 42px);
  }
}
@media (min-width: 961px) {
  .card {
    width: calc(33.333vw - 42px);
  }
}
@media (min-width: 1281px) {
  .card {
    width: calc(25vw - 42px);
  }
}
@media (min-width: 1601px) {
  .card {
    width: calc(20vw - 42px);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-pagination.flip 
.swiper-pagination-bullet-active {
  background: $headerColorUnder;
}

.week {
  display: flex;
  // perspective: 1000px;
}

.wrapper {
  display: flex;
  perspective: 2000px;
}

// FLIP

.day {
  position: relative;

  // perspective-origin: 50% 50%;
  transition: 1.5s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;

  .card {
    backface-visibility: hidden;
  }

  .over {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .under {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(180deg);
  }

  &.flip {
    transform: rotateX(-180deg);
  }
}

.header.flip {
  transition: 1.5s;
  background-color: $headerColorUnder;
}

.toggle.flip {
  >img {
    transition: 1.5s;
    transform: rotateZ(-180deg);
  }
}

.day.flip
.lesson, .day-off, .break {
  &.active {
    background-color: $bgColorUnder;
  }
}

.countdown {
  color: #CE2828;
}