.past-time {
    display: none;
    color: rgb(227, 253, 184);
}
.time-left {
    display: none;
    color: rgb(252, 182, 182);
}
.week.active 
.day.active
.class.active 
.past-time,
.week.active 
.day.active
.class.active 
.time-left {
    display: block;
}

.week.active 
.day.active
.class.active 
.time-bar__start,
.week.active 
.day.active
.class.active 
.time-bar__end {
    display: none;
}


.week.active 
.day.active
.class.active 
.progressbar {
    display: block;
}

.progressbar {
    display: none;
    height: 3px;

    background: rgb(204, 5, 5);
    border-radius: 5px;
}

.progressbar > span {
    display: none;
    display: block;
    height: 100%;
    width: 0%;
    
    background-color: rgb(169, 73, 207);
    border-radius: 5px;

    overflow: hidden;
}

.week.odd 
.progressbar > span {
    background-color: rgb(53, 148, 226);
}