// Font
$mainFontRegular: 'Roboto-Regular', Helvetica, Arial, sans-serif;
$mainFontLight: 'Roboto-Light', Helvetica, Arial, sans-serif;
$mainFontMedium: 'Roboto-Medium', Helvetica, Arial, sans-serif;

$mainFontSize: 16px;
$mainFontColorLight: #ffffff;
$mainFontColorDark: #000000;

// Header Color
$headerColorOver: #157FC4;
$headerColorUnder: #7928B0;

// Border cards color
$borderColorOver: rgb(89, 131, 165);
$borderColorUnder: rgb(97, 18, 150);

// Active lesson color
$bgColorOver: rgba(38, 133, 210, 0.1);
$bgColorUnder: rgba(138, 14, 133, 0.1);

// Size
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;