include ../utils/mixins.pug
block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    //- block head
  body
    //- include ../includes/header.pug
    block content